:root,
html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;

    --background: #f6f7f8;
    --primary: #137fec;
    --font: #4a5565;
}

body {
    background-color: var(--background);
    max-width: 1200px;
    margin: auto;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    position: relative;
}

nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    min-width: 100%;
    max-width: 1200px;
    height: 1px;
    background-color: var(--font);
    opacity: 0.2;
    transform: translateX(-50%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;

}

.logo__img {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 4px;
    margin-right: 1rem;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu__item {
    margin-left: 1rem;
}

.menu__link {
    color: var(--font);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem .5rem;
}


.button {
    color: var(--background);
    background-color: var(--primary);
    padding: .6rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    border: none;
}

.header {
    height: 400px;
    position: relative;
    margin-bottom: 3rem;

}

.header::before {
    content: "";
    background-image: url('../imgs/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(2px);
    z-index: -1;

}

.header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    filter: blur(2px);
    z-index: -1;
}

.header__title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--background);
    margin: auto;
    padding: 3rem 1rem;

}

.header__text {
    color: var(--background);
    font-size: 1.5rem;
    padding: 1rem 1rem;
    padding-bottom: 2rem;
}

.header .button {
    margin-left: 1rem;
}

.services {
    padding: 2rem 1rem;
}

.services__title {
    font-weight: 600;
    font-size: 2rem;
}

.service__text {
    font-weight: 100;
}

.services__description {
    padding: 2rem 0;
    font-size: 1.2rem;
    color: var(--font);
}

.cards {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
    gap: 2rem;
    align-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    min-width: 320px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.bi {
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card__title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.card__text {
    color: var(--font);
    font-size: .9rem;
    line-height: 1.5;
}

.contact {
    overflow: hidden;
    padding: 2rem;
}

.contact__container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 8px;
}

.contact__title {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.form,
.info {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.form__input {
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    background-color: var(--background);
    border: 1px solid var(--primary);
    font-size: 16px;
}

.info__text {
    font-size: 1rem;
    color: var(--font);
    letter-spacing: 0.5px;
}

.info__container {
    display: flex;
    margin-bottom: .5rem;
}

.info__container .bi {
    font-size: 1rem;
    margin-right: .5rem;
}

.map {
    border: 0;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.footer__section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__list {
    flex-grow: 2;
    list-style: none;
    display: flex;
    flex-direction: column;
    
}

.footer__title {
    font-weight: 500;
    padding-bottom: 1rem;
}
.footer__item {
    padding-bottom: 1rem;
}

.footer__link {
    color: var(--font);
    text-decoration: none;
}

.footer__networks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--font);
    position: relative;
}

.footer__copy::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    min-width: 100%;
    max-width: 1200px;
    height: 1px;
    background-color: var(--font);
    opacity: 0.2;
    transform: translateX(-50%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}